<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Student-Alumni</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Filter1</filter-name>
    <filter-class>com.studentAlumni.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/User/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.studentAlumni.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a_DelStudentsOfCollege</servlet-name>
    <servlet-class>com.studentAlumni.servlet.a_DelStudentsOfCollege</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a_DelActiveStudents</servlet-name>
    <servlet-class>com.studentAlumni.servlet.a_DelActiveStudents</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>u_Addfriend</servlet-name>
    <servlet-class>com.studentAlumni.servlet.u_Addfriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>u_AcceptFriendsRequest</servlet-name>
    <servlet-class>com.studentAlumni.servlet.u_AcceptFriendsRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>u_SendMessage</servlet-name>
    <servlet-class>com.studentAlumni.servlet.u_SendMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>u_Suggestion</servlet-name>
    <servlet-class>com.studentAlumni.servlet.u_Suggestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a_DeleteSuggestion</servlet-name>
    <servlet-class>com.studentAlumni.servlet.a_DeleteSuggestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a_AddReunionDetails</servlet-name>
    <servlet-class>com.studentAlumni.servlet.a_AddReunionDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a_DeleteReunion</servlet-name>
    <servlet-class>com.studentAlumni.servlet.a_DeleteReunion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.studentAlumni.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a_DelStudentsOfCollege</servlet-name>
    <url-pattern>/Admin/a_DelStudentsOfCollege</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a_DelActiveStudents</servlet-name>
    <url-pattern>/Admin/a_DelActiveStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>u_Addfriend</servlet-name>
    <url-pattern>/User/u_Addfriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>u_AcceptFriendsRequest</servlet-name>
    <url-pattern>/User/u_AcceptFriendsRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>u_SendMessage</servlet-name>
    <url-pattern>/User/u_SendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>u_Suggestion</servlet-name>
    <url-pattern>/User/u_Suggestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a_DeleteSuggestion</servlet-name>
    <url-pattern>/Admin/a_DeleteSuggestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a_AddReunionDetails</servlet-name>
    <url-pattern>/Admin/a_AddReunionDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a_DeleteReunion</servlet-name>
    <url-pattern>/Admin/a_DeleteReunion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>resource_ref1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref>
    <res-ref-name>resource_ref2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref>
    <res-ref-name>resource_ref3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref>
    <res-ref-name>resource_ref4</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>